.card-contents {
  height: 330px;
  width: 700px;
  background-color: #fff;
  float: right;
  .card-contents__title {
    height: 15%;
    border-bottom: 1px solid #ddd;
    text-align: center;
    h2 {
      font-size: 18px;
      font-weight: bold;
      letter-spacing: 8px;
      line-height: 52px;
    }
  }
  .card-contents__inner {
    height: 60%;
    padding: 30px 80px;
    border-bottom: 1px solid #ddd;
    .inner__title {
      font-size: 18px;
      padding-bottom: 10px;
    }
    .inner__information {
      width: 80%;
      padding-left: 20px;
      float: left;
      .information__credit-logo {
        padding-bottom: 5px;
      }
      .information__credit-number {
        padding-bottom: 5px;
      }
      .information__credit-monthyear {

      }
    }
    .information__credit-delete {
      float: right;
    }
  }
  .card-contents__setting {
    height: 25%;
    text-align: right;
    padding-right: 40px;
  a {
    color: #6D8BE8;
    font-size: 14px;
    line-height: 82px;
  }
  i {
    color: #6D8BE8;
    font-size: 14px;
    padding-left: 10px;
  }
  }
}