a {
  text-decoration: none;
}

li {
  list-style: none;
}

.dlbtn{
  padding: 5px;
}

.header {
  width: 100%;
  &__inner {
    max-width: 1040px;
    width: 100%;
    min-height: 85px;
    margin: 0 auto;
    padding: 30px 0 0;
    .inner__main {
      position: relative;
      display: flex;
      align-items: center;
      .main__icon {
        padding-right: 40px;
        .topicon {
          height: 40px;
          width: 140px;
        }
      }
      .main__searchbox {
        width: 800px;
        .form {
          display: flex;
          height: 40px;
          .searchbox__input {
            width: 700px;
          }
          .searchbox__icon {
            .btn {
              background-color: #3CCACE;
              .searchicon {
                height: 33px;
                width: 30px;
                background-color: #3CCACE;
              }
            }
          }
        }
      }
    }
    .inner__nav {
      display: flex;
      justify-content: space-between;
      a {
        color: #272727;
      }
      .nav__left {
        display: flex;
        .category {
          padding: 7px;
        }
        .brand {
          padding: 7px;
        }
      }
      .nav__right {
        display: flex;
        .login {
          padding: 7px;
        }
        .signin {
          padding: 7px;
        }
      }
    }
  }
}

.main {
  width: 100%;
  height: 100%;

  &__visual {
    height: 500px;
    padding: 0 60px;
    background-image: image-url("bg-mainVisual-pict_pc.jpg");
    background-size: cover;
    .visual__content {
      color: white;
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      padding-top: 120px;
      .content__subtitle {
        font-size: 60px;
        padding-bottom: 20px;
      }
      .content__text {
        line-height: 20px;
        font-size: 18px;
        padding-bottom: 40px;
      }
    }
  }
  &__introduction {
    height: 800px;
    width: 100%;
    .introduction__subtitle {
      font-size: 25px;
      text-align: center;
      font-weight: bold;
      height: 100px;
      padding-top: 60px;

      .subtitle__border {
        width: 70px;
        height: 4px;
        background-color: #3CCACE;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin: 15px 0;
      }
    }
    .introductions {
      display: flex;
      padding: 50px 50px 50px 25px;
      .introduction__lists {
        max-width: 1020px;
        width: 100%;
        .lists__list {
          text-align: left;
          display: flex;
          flex-direction: column;
          align-items: center;
          .list__pict {
            position: relative;
            margin-bottom: 20px;
            .pict__number{
              display: inline-block;
              position: absolute;
              top: 0;
              left: 0;
              border-radius: 4%;
              font-size: 30px;
              text-align: center;
              margin: 0 5px 0 0;
              padding: 10px 20px;
              background-color: #3CCACE;
              color: #fff;
            }
            .listpic {
              height: 280px;
              width: 280px;
            }
          }
          .list__text {
            font-size: 23px;
            font-weight: bold;
            text-align: center;
            span {
              color: #3CCACE;
            }
          }
          .list__description {
            font-size: 18px;
            padding-top: 20px;
            width: 280px;
          }
        }
      }
    }
  }

  &__dlpage {
    height: 450px;
    background-image: image-url("bg-topMiddleDl-pict.jpg");
    background-size: cover;
    .visual__content {
      color: white;
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      padding: 70px 0px 0px 80px;
      .content__subtitle {
        font-size: 35px;
        padding-bottom: 20px;
      }
      .content__text {
        font-size: 20px;
        line-height: 1.8;
      }
      .content__btn {
        padding-top: 20px;
      }
    }
  }

  &__features {
    height: 600px;
    padding: 60px 90px;
    .features__title {
      font-size: 20px;
      text-align: center;
      font-weight: bold;
      height: 100px;
      .subtitle__border {
        width: 70px;
        height: 4px;
        background-color: #3CCACE;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin: 15px 0;
      }
    }
    .features__items {
      display: flex;
      justify-content: center;
      align-items: center;
      .items__item {
        flex-direction: column;
        width: 100%;
        height: 100%;
        padding: 0 50px;
        .item__image {
          text-align: center;
          .featurespic {
            height: 225px;
            width: 145px;
          }
        }
        .item__subtitle {
          font-size: 20px;
          font-weight: bold;
          text-align: center;
        }
        .item__detail {
          font-size: 17px;
          padding-top: 30px;
        }
      }
    }
  }
  &__pickup {
    background-color: #f8f8f8;
    height: 500px;
    text-align: center;
    .pickup__title {
      font-size: 30px;
      font-weight: bold;
      padding-top: 35px;
    }
    .pickup__productbox {
      
      .productbox__producttitle {
        font-size: 25px;
        font-weight: bold;
        padding-bottom: 20px;
        a {
          color: #3CCACE;
        }
      }
      .productbox__lists {
        display: flex;
        justify-content: center;
        align-items: center;
        .lists__list {
          margin: 10px;
          height: 300px;
          width: 250px;
          background-color: #93E884;
        }
      }
    }
  }
}

.banner {
  height: 400px;
  background-image: image-url("bg-appBanner-pict.jpg");
  background-size: cover;
  .banner__inner {
    padding: 100px 40px;
    color: white;
    text-shadow: 0 0 5px rgba(0,0,0,0.4);
    text-align: center;
    .inner__title {
      font-size: 25px;
    }
    .inner__text {
      font-size: 35px;
    }
    .inner__icon {
      padding-top: 25px;
    }
  }
}

.footer {
  padding: 60px 0;
  background-color: #272727;
  color: white;
  text-align: center;
  .footer__contents {
    display: flex;
    justify-content: center;
    a {
      color: white;
    }
    .contents__content {
      display: flex;
      flex-direction: column;
      width: calc(1 / 3 * 100%);
      line-height: 30px;
      .content__title {
        font-size: 16px;
        font-weight: bold;
        padding-bottom: 30px;
      }
      .content__list {
        list-style: none;
        font-size: 12px;
      }
    }
  }
  .footer__logo {
    padding-top: 40px;
    .footerlogo {
      height: 45px;
      width: 160px;
    }
  }
}


.sellbtn {
  width: 130px;
  height: 130px;
  background: #3CCACE;
  text-align: center;
  border-radius: 4%;
  bottom: 32px;
  right: 32px;
  position: fixed;
  padding: 15px;
  box-shadow: 0px 0px 0px 10px #3CCACE;
  border: dashed 2px #93E884;
  border-radius: 8px;
  .sellbtn__text {
    color: #fff;
    display: block;
    font-size: 18px;
    text-decoration: none;
  }
  // .sellbtn__icon {
    
  // }
}

