.buy-main {
  height: 100%;
  background-color: #ddd;
  .buy-main__box {
    width: 700px;
    background-color: #fff;
    margin: 0 auto;
    .box__content {
      display: block;
      .content__buy-title {
        padding: 16px;
        font-size: 22px;
        text-align: center;
        font-weight: bold;
      }
      .content__buy-product {
        height: 450px;
        padding: 5% 13%;
        border-top: 1px solid #ddd;
        text-align: center;
        .buy-product__inner {
          max-width: 320px;
          margin: 0 auto;
          .inner__item {
            display: flex;
            .item__image {
              height: 80px;
              width: 78px;
              background-color: brown;
            }
            .item__name {
              margin-left: 14px;
              text-align: left;
              font-weight: 600;
            }
          }
          .inner__info {
            width: 100%;
            .info__price {
              margin: 8px 0 0;
              font-size: 22px;
              font-weight: 600;
            }
            .info__point {
              background-color: #BBD4DB;
              margin: 16px 0 0;
              color: #333;
              padding: 14px;
              border: 1px solid #BBD4DB;
              font-size: 14px;
            }
            .info__price-table {
              display: flex;
              width: 100%;
              font-weight: bold;
              .price-table__payment {
                padding: 24px 0 0;
                font-size: 18px;
                width: 50%;
                text-align: left;
              }
              .price-table__pay {
                padding: 16px 0;
                font-size: 26px;
                width: 50%;
                text-align: right;
                font-weight: 600;
              }
            }
            .info__buy-btn {
              margin: 15px 0 0;
              background-color: red;
              color: #fff;
              border: 1px solid red;
              width: 100%;
              font-size: 14px;
              line-height: 48px;
              cursor: pointer;
              box-sizing: border-box;
              display: inline-block;
              text-decoration: none;
            }
          }
        }
      }
      .content__buy-user-info {
        height: 200px;
        border-top: 1px solid #ddd;
        padding: 5% 25%;
        .buy-user-info__title {
          font-size: 18px;
        }
        .buy-user-info__text {
          padding-top: 12px;
          font-size: 14px;
          line-height: 25px;
        }
        .buy-user-info__change {
          font-size: 14px;
          text-align: right;
          a {
            color: #87cefa;
            text-decoration: none;
          }
        }
      }
    }
  }
}

.hidden-destroy{
  display: none;
}