
*{
  box-sizing: border-box;
}

.main{
  width: 100%;
  font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
  &__show{
    padding: 40px;
    margin: 0 auto;
    background: #f8f8f8;
    &__content{
      width: 700px;
      height: 1800px;
      margin: 0 auto;
      &__top{
        width: 700px;
        height:1500px;
        &__itemInfo{
          width: 700px;
          padding: 24px 40px 40px 40px;
          margin: 0 auto;
          background-color: white;
          &__name{
            text-align: center;
            font-weight: bold;
            font-size: 28px;
          }
          &__image{
            padding: 24px 40px 40px;
            .bx-wrapper {
              border: none;
            }
            &__ul{
              margin: 0 8%;
              align-items: center;
              &__li{
                display: flex;
                justify-content: center;
                margin-top: 10px;
                &__img{
                  object-fit: cover;
                  height: 346px;
                  width: 100%;
                  vertical-align: bottom;
                  border: 0;
                }
              }
            }
            .custom-thumb {
              .thumb {
                object-fit: cover;
                vertical-align: bottom;
                opacity: 0.5;
              } 
              .thumb:hover {
                opacity: 1;
              }
            }
          }
          &__purchase{
            text-align: center;
            background-color: #3CCACE;
            margin-bottom: 30px;
            height: 60px;
            &__link{
              text-decoration: none;
              line-height: 60px;
              color: white;
              font-size: 25px;
              font-weight: bold;
              display:block;
              width:100%;
            }
          }
          &__price{
            margin: 24px 0 24px;
            text-align: center;
            display: flex;
            flex-direction: column;
            &__span{
              font-size: 46px;
              font-weight: bold;
              margin: 0 10px 0 0;
            }
            &__detail{
              font-size: 16px;
              &__span{
                font-size: 16px;
                font-weight: normal;
              }
            }
          }
          &__detail{
            line-height: 1.5;
            font-size: 18px;
            margin-bottom: 30px;
          }
          &__table{
            margin-bottom: 20px;
            &__table{
              width: 100%;
              height: 375px;
              border-collapse: collapse;
              border: 1px solid #f8f8f8;
              &__tbody{
                border-collapse: collapse;
                display: table-row-group;
                vertical-align: middle;
                border-color: inherit;
                &__tr{
                  display: table-row;
                  vertical-align: inherit;
                  border-color: inherit;
                  &__th{
                    width: 20%;
                    background-color: #eee;
                    font-weight: 400;
                    padding: 8px;
                    border: 1px solid #dedede;
                    font-size: 14px;
                    text-align: center;
                  }
                  &__td{
                    width: 61%;
                    padding: 15px 15px;
                    border: 1px solid #dedede;
                    font-size: 14px;
                    color: black;
                    &__link{
                      text-decoration: none;
                      
                    }
                    &__link:hover {
                      text-decoration: underline;
                    }
                  }
                }
              }
            }
          }
          &__other{
            display: flex;
            justify-content: space-between;
            &__left{
              margin: 10px 0 0;
              display: flex;
              &__btn{
                margin-right: auto;
                padding: 6px 10px;
                border-radius: 40px;
                color: #3CCACE;
                border: 1px solid #ffb340;
                &__icon{
                  display: inline-block;
                  font-size: inherit;
                  text-rendering: auto;
                }
              }
            }
            &__right{
              margin: 10px 0 0;
              display: flex;
              &__list{
                font-size: 14px;
                &__btn{
                  padding: 6px 10px;
                  display: inline-block;
                  border-radius: 4px;
                  color: #333;
                  border: 1px solid #333;
                  text-decoration: none;
                  &__icon{
                    display: inline-block;
                    font-size: inherit;
                    text-rendering: auto;
                  }
                }
              }
            }
          }
        }
        &__itemUser{
          margin: 25px 0;
          background-color: #fff;
          padding: 20px;
          &__edit{
            height: 50px;
            background-color: #3CCACE;
            text-align: center;
            margin-bottom: 20px;
            &__link{
              line-height: 50px;
              color: #fff;
              font-size: 20px;
              font-weight: bold;
            }
          }
          &__destroy{
            height: 50px;
            background-color: #ea352d;
            text-align: center;
            &__link{
              line-height: 50px;
              color: #fff;
              font-size: 20px;
              font-weight: bold;
            }
          }
        }
        &__commentArea{
          padding: 24px;
          background-color: #fff;
          margin: 10px 0;
          text-align: center;
          &__form__textarea{
            width: 100%;
            min-height: 104px;
            padding: 10px;
          }
          &__message{
            padding: 8px;
            font-size: 14px;
            background-color: #f8f8f8;
            margin: 10px 0;
            text-align: left;
          }
          &__btn{
            font-size: 18px;
            line-height: 48px;
            background: #3CCACE;
            border: 1px solid #3CCACE;
            color: #fff;
            width: 60%;
            border-radius: 100px;
          }
        }
        &__aroundItems{
          display: flex;
          justify-content: space-between;
          &__before__link{
            text-decoration: none;
            color: #3CCACE;
          }
          &__after__link{
            text-decoration: none;
            color: #3CCACE;
          }
        }
        &__moreItems__link{
          display: block;
          margin: 24px 0 8px;
          color: #3CCACE;
          text-decoration: none;
          font-weight: bold;
          font-size: 22px;
          position: relative;
          }
        }
      }
    }
  }
  a {
    text-decoration: none;
    color: black;
}