.user__new {
  background-color: $formGray;
  width: 100vw;
  height: 100%;
  .new__title {
    width: 100%;
    height: 130px;
    padding: 35px 0 0 280px;
    display: flex;
    position: relative;
    z-index: 2;
    .title__image {
      height: 60px;
    }
    .new__lists {
      width: 500px;
      display: flex;
      margin-left: 80px;
      .new__list {
        font-size: 12px;
        margin-right: 40px;
        .list__circle {
          background-color: $formWhite;
          width: 15px;
          height: 15px;
          border-radius: 50px;
          margin: 10px auto 0;
          &--red {
            background-color: $formRed;
            width: 15px;
            height: 15px;
            border-radius: 50px;
            margin: 10px auto 0;
          }
        }
      }
    }
  }
  .new__border {
    width: 305px;
    height: 2px;
    border-top: solid $formWhite;
    position: absolute;
    top: 69px;
    right: 350px;
    z-index: 1;
  }
  .new__form {
    width: 100%;
    height: 1350px;
    .form__container {
      background-color: $formWhite;
      width: 700px;
      height: 100%;
      margin: 0 auto;
      .container__title {
        height: 100px;
        font-size: 25px;
        font-weight: bold;
        text-align: center;
        line-height: 100px;
        border-bottom: 1px solid #f5f5f5;
      }
      #new_user {
        width: 100%;
        height: calc(100% - 100px);
        padding: 25px 15px;
        .user__field {
          height: 100%;
          width: 350px;
          margin: 0 auto;
          .private__field {
            width: 100%;
            height: 100px;
            .field__require {
              height: 25px;
              width: 50px;
              margin-left: 5px;
              padding: 3px 3px;
              font-size: 13px;
              background-color: $formRed;
              color: $formWhite;
              border-radius: 5px;
            }
            input {
              height: 50px;
              width: 100%;
              padding: 0 10px;
              margin-top: 5px;
              border-radius: 5px;
              outline: none;
            }
            input[type="text"]:focus,
            input[type="email"]:focus,
            input[type="password"]:focus,
            input[type="tel"]:focus {
              border: 1px solid $formSky;
            }
          }
          .name__field {
            width: 100%;
            height: 100px;
            .field__require {
              height: 25px;
              width: 50px;
              margin-left: 5px;
              padding: 3px 3px;
              font-size: 13px;
              background-color: $formRed;
              color: $formWhite;
              border-radius: 5px;
            }
            input {
              width: 170px;
              height: 50px;
              padding: 5px 5px;
              margin-top: 5px;
              border-radius: 5px;
              outline: none;
            }
            input[type="text"]:focus {
              border: 1px solid $formSky;
            }
          }
          .birthday__field {
            width: 100%;
            height: 100px;
            .field__require {
              height: 25px;
              width: 50px;
              margin-left: 5px;
              padding: 3px 3px;
              font-size: 13px;
              background-color: $formRed;
              color: $formWhite;
              border-radius: 5px;
            }
            select {
              height: 50px;
              width: 70px;
              border-radius: 5px;
              margin-top: 5px;
              padding: 0 10px;
              cursor: pointer;
              outline: none;
            }
            select[name="year"]:focus,
            select[name="month"]:focus,
            select[name="day"]:focus {
              border: 1px solid $formSky;
            }
            span {
              margin: 0 4px;
            }
          }
          .check__box {
            width: 100%;
            margin: 10px 0;
            input {
              cursor: pointer;
            }
          }
          .private__check {
            width: 100%;
            height: 90px;
            p {
              font-size: 12px;
            }
          }
          .page__word {
            color: gray;
            font-size: 14px;
          }
          .agree {
            font-size: 14px;
            padding: 10px 0;
          }
          .submit {
            height: 60px;
            width: 100%;
            background-color: $formRed;
            margin-top: 20px;
            text-align: center;
            line-height: 60px;
            &__btn {
              background-color: $formRed;
              color: $formWhite;
              cursor: pointer;
              border-style: none;
            }
          }
          .user__foot {
            width: 100%;
            height: 50px;
            font-size: 14px;
            color: $formSky;
            line-height: 50px;
            text-align: right;
          }
        }
      }
    }
  }
  .new__footer {
    width: 450px;
    height: 190px;
    margin: 0 auto;
    .footer__lists {
      font-size: 11px;
      color: #333;
      display: flex;
      justify-content: space-between;
      margin: 40px 0; 
    }
    .footer__icon {
      width: 100%;
      height: 70px;
      text-align: center;
      .icon__image {
        height: 60px;
      }
    }
    .footer__text {
      font-size: 11px;
      text-align: center;
      color: #333;
    }
  }
}