a {
  text-decoration: none;
  color: $formWhite;
}
.login__new {
  background-color: $formGray;
  width: 100vw;
  height: 100%;
  .login__title {
    width: 100%;
    height: 130px;
    text-align: center;
    padding-top: 35px;
    .login__image {
      height: 60px;
    }
  }
  .login__form {
    width: 100%;
    height: 680px;
    .login__container {
      background-color: $formWhite;
      width: 460px;
      height: 100%;
      margin: 0 auto;
      .container__head {
        height: 140px;
        font-size: 14px;
        padding: 25px 30px;
        text-align: center;
        border-bottom: 1px solid $formGray;
        .head__title {
          color: #333;
        }
        .head__btn {
          height: 50px;
          width: 350px;
          background-color: #0099e8;
          color: $formWhite;
          line-height: 50px;
          margin: 15px auto;
        }
      }
      .container__body {
        height: 560px;
        width: 100%;
        padding: 40px 40px;
        .body__lists {
          height: 150px;
          width: 350px;
          margin: 0 auto;
          .btn__list__fa {
            background-color: #385185;
            height: 50px;
            font-size: 15px;
            color: #fff;
            line-height: 50px;
            text-align: center;
            position: relative;
            i {
              font-size: 30px;
              position: absolute;
              top: 10px;
              left: 15px;
            }
          }
          .btn__list__go {
            border: 1px solid gray;
            height: 50px;
            font-size: 14px;
            line-height: 50px;
            text-align: center;
            margin-top: 15px;
            position: relative;
            a {
              color: #000;
            }
            .google {
              width: 25px;
              height: 25px;
              position: absolute;
              top: 12px;
              left: 15px;
            }
          }
        }
        .body__form {
          height: 100%;
          width: 330px;
          margin: 0 auto;
          input {
            height: 50px;
            width: 100%;
            margin-top: 30px;
            padding: 0 10px;
            border-radius: 5px;
            outline: none;
          }
          input[type="email"]:focus,
          input[type="password"]:focus {
            border: 1px solid $formSky;
          }
          .btn__login {
            background-color: $formRed;
            color: $formWhite;
            font-size: 14px;
            cursor: pointer;
          }
          .word {
            margin-top: 40px;
            color: $formSky;
            font-size: 14px;
            cursor: pointer;
          }
        }
      }
    }
  }
  .new__footer {
    width: 450px;
    height: 190px;
    margin: 0 auto;
    .footer__lists {
      font-size: 11px;
      color: #333;
      display: flex;
      justify-content: space-between;
      margin: 40px 0;
      cursor: pointer;
    }
    .footer__icon {
      width: 100%;
      height: 70px;
      text-align: center;
      .icon__image {
        height: 60px;
      }
    }
    .footer__text {
      font-size: 11px;
      text-align: center;
      color: #333;
    }
  }
}