.buy-main
  .buy-main__box
    .box__content
      .content__buy-title
        購入内容の確認
      .content__buy-product
        .buy-product__inner
          .inner__item
            .item__image
              画像
            .item__name
              商品名
          .inner__info
            .info__price
              ¥10,000
            .info__point
              ポイントはありません
            .info__price-table
              .price-table__payment
                支払金額
              .price-table__pay
                ¥10,000
            .info__buy-btn
              %a.btn-default{"data-method" => "GET"} 購入する
      .content__buy-user-info
        .buy-user-info__title
          配送先
        .buy-user-info__text
          000-000
          %br
          愛知県名古屋市中区栄3丁目13-20
          %br
          熊澤祐弥
        .buy-user-info__change
          = link_to '変更する', '#'
      .content__buy-user-info
        .buy-user-info__title
          支払方法
        .buy-user-info__text
          **** **** ****4242
          %br
          12 / 20
        .buy-user-info__change
          = link_to '変更する', '#'