/%h1 Items#pay
/%p Find me in app/views/items/pay.html.haml


.buy-main
  .buy-main__box
    .box__content
      .content__buy-title
        購入内容の確認
      .content__buy-product
        .buy-product__inner
          .inner__item
            .item__image
              画像
            .item__name
              商品名
          .inner__info
            .info__price
            .info__point
            .info__price-table
            .info__buy-btn
      .content__buy-user-info
      .content__buy-user-info
